@baseline: 8px;

@font-size-0: 11px;
@font-size-1: 13px;
@font-size-2: 16px;
@font-size-3: 19px;

@line-height-1: @baseline * 2;
@line-height-2: @line-height-1 * 2;
@line-height-3: @line-height-1 * 2;

@background:       #fff;
@foreground-light: rgb(223, 227, 231);
@foreground-med:   rgb(154, 168, 178);
@foreground:       rgb(66, 91, 108);
@primary-action:   rgb(34, 184, 235);
@warning:          rgb(254, 182, 77);

@import 'throbber';
@import 'select-box';
@import 'repositories';
@import 'paginator';
@import 'side-nav';
@import 'dialog';
@import 'repository-form';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Open Sans;
  color: @foreground;
  font-size: @font-size-1;
  line-height: @line-height-1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: @foreground;
  margin: @baseline 0;
}

button {
  color: @foreground;
  background-color: @foreground-light;
  border-radius: 3px;
  padding: @baseline / 4 @baseline * 2;
  min-height: @baseline * 4;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px 0 @primary-action;
  }

  &.button-primary {
    color: @background;
    border-color: @primary-action;
    background-color: @primary-action;
  }
}

input[type=text] {
  border: 1px solid @foreground-med;
  color: @foreground-med;
}

.stage {
  display: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.scene {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  > nav {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: @baseline * 10;
    padding-top: @baseline * 2;
    border-right: 1px solid @foreground-light;
  }
}

.layout-split {
  display: flex;
  justify-content: space-between;
}
